
.cookiesjsr-btn {
    cursor: pointer;
    font: inherit;
    width: calc(100% - #{$default-margin*2});
    text-transform: uppercase;
    font-size: .85em;
    padding: 0;
    text-decoration: none;
    white-space: nowrap;
    margin: $default-margin/2;
    opacity: .95;
    transform: scale(1);
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 42px;
    color: var(--btn-font-color, $color-1);
    border: 2px solid var(--btn-border-color, $color-1);
    background-color: var(--btn-bg-color, $color-4);

    @media (min-width: $sm) {
        min-height: 48px;
    }

    &:hover {
        opacity: 1;
        transform: scale(1.02);
    }

    &.invert {
        color: var(--btn-inv-font-color, $color-4);
        border-color: var(--btn-inv-border-color, $color-4);
        background-color: var(--btn-inv-bg-color, $color-1);
    }

    &.important {
        color: var(--btn-prime-font-color, $color-4);
        border-color: var(--btn-prime-border-color, $color-1);
        background-color: var(--btn-prime-bg-color, $color-1);

        &.invert {
            color: var(--btn-prime-inv-font-color, $color-1);
            border-color: var(--btn-prime-inv-border-color, $color-4);
            background-color: var(--btn-prime-inv-bg-color, $color-4);
        }
    }
}


