
.cookiesjsr-switch {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  width: var(--switch-width, $switch-width);
  height: var(--switch-height, $switch-height);
  border-radius: var(--switch-height, $switch-height);
  background-color: var(--switch-bg-off, $color-1);
  cursor: pointer;
  box-shadow: inset -1px 2px 1px rgba(#000, .25);
  border: 0;
  transition: background-color .1s ease-in-out;

  &:focus-within:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: $switch-height/2;
    border: 1px dotted #eee;
    transform: scale(1.4);
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: var(--switch-height, $switch-height);
    height: var(--switch-height, $switch-height);
    border-radius: var(--switch-height, $switch-height);
    transform: scale(1.2);
    background-color: var(--switch-handle-color, $color-1);
    border: 1px solid var(--switch-border-color, $color-2);
    transition: left .1s ease-in-out;
    box-shadow: -1px 2px 1px rgba(#000, .25);
  }

  &.active {
    background-color: var(--switch-bg-on, $color-3);
    &:after {
      left: $switch-width - $switch-height;
    }
  }

  input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }
}
