$color-1: #FFF;
$color-2: #e4e5e6;
$color-3: #00AA00;
$color-4: #004c93;
$color-5: #000f37;

$font-size-reset: 1rem;
$default-margin: 1.25em;
$banner-logo-offset: 100px;

// horizontal breakpoints
$xs: 420px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// vertical breakpoints
$h-sm: 668px;
$h-md: 992px;

$layer-header-height: 3.5em;
$layer-footer-height: 4.5em;

$switch-width: 45px;
$switch-height: 20px;
